@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --font-heading: "Poppins", sans-serif;
  --font-paragraph: "Open Sans", sans-serif;

  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);
  --Pink: hsl(322, 100%, 66%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--font-heading);
  font-weight: 600;
  color: var(--Very-Dark-Cyan);
}

a,
p,
span {
  font-family: var(--font-paragraph);
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
  background: whitesmoke;
}

nav a {
  text-decoration: none;
  font-weight: 700;
  color: var(--Very-Dark-Cyan);
  background: white;
  padding: 0.5rem 3rem;
  border-radius: 25px;
  box-shadow: 2px 2px 5px rgb(175, 175, 175);
}

a:hover {
  opacity: 0.7;
}

/** Style rule for hero section **/

.hero {
  background: url(./images/bg-hero-desktop.svg), var(--Very-Pale-Cyan);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5%;
}

.hero img {
  width: 50%;
}

.hero__texts p {
  max-width: 500px;
  font-weight: 700;
  margin: 1rem 0;
}

.hero__texts a {
  background: var(--Pink);
  padding: 0.5rem 2rem;
  border-radius: 25px;
  color: white;
  font-weight: 700;
  display: inline-block;
  box-shadow: 2px 2px 5px rgb(175, 175, 175);
}

/** Style rule for about section **/

.about {
  padding: 8rem 5%;
}

.about img {
  width: 40%;
}

.about__1,
.about__2,
.about__3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 5px rgb(175, 175, 175);
  border-radius: 15px;
  padding: 2rem;
  margin-top: 2rem;
}

.about__1__text,
.about__2__text,
.about__3__text {
  max-width: 450px;
  margin-left: 4rem;
}

.about__1__text p,
.about__2__text p,
.about__3__text p {
  color: var(--Grayish-Blue);
  font-weight: 400;
  margin: 1rem 0;
}

/** Style rule for card **/

.card {
  position: absolute;
  background: white;
  padding: 2rem 3rem;
  border-radius: 15px;
  box-shadow: -2px -2px 2px rgb(175, 175, 175);
  left: 21%;
  top: -78px;
  width: 55%;
  text-align: center;
}

.card a {
  background: var(--Pink);
  padding: 1rem 3rem;
  border-radius: 25px;
  color: white;
  font-weight: 700;
  display: inline-block;
  margin-top: 1rem;
}

/** Style rule for footer **/

footer {
  background: var(--Very-Dark-Cyan);
  color: var(--Very-Pale-Cyan);
  padding: 8rem 5% 5rem;
  position: relative;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  grid-gap: 3rem;
}

.address span {
  margin-left: 1rem;
  max-width: 10px;
}

.footer p {
  margin-bottom: 0.7rem;
  display: block;
}

.links-2 p:hover,
.links-1 p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.icons i {
  border: 1px solid white;
  border-radius: 50%;
  padding: 0.5rem;
  font-size: 10px;
  margin-left: 0.5rem;
}

.icons i:hover {
  color: var(--Pink);
  cursor: pointer;
}

.copy-right {
  text-align: right;
  margin-top: 5rem;
  font-size: 0.8rem;
}

/** Breakpoints **/

@media (max-width: 375px) {
  nav img {
    width: 35%;
  }

  nav a {
    padding: 0.5rem 2rem;
  }

  .hero {
    background: url(./images/bg-hero-mobile.svg), var(--Very-Pale-Cyan);
    padding: 1rem 5%;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
  }

  .hero img,
  .about__1 img,
  .about__2 img,
  .about__3 img {
    width: 90%;
  }

  .about__1,
  .about__3 {
    flex-direction: column-reverse;
    text-align: center;
    gap: 3rem;
  }

  .about__2 {
    flex-direction: column;
    text-align: center;
    gap: 3rem;
  }

  .about__1__text,
  .about__2__text,
  .about__3__text {
    margin-left: 0;
  }

  .card {
    padding: 1rem;
    left: 6%;
    width: 90%;
    text-align: center;
  }

  .copy-right {
    text-align: center;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    grid-gap: 1rem;
  }

  .card a {
    padding: 1rem 2rem;
    font-weight: 700;
  }
}
